.container {
    margin: 0 auto;
}
nav {
    padding: 5px;
    background-image: linear-gradient(to bottom left, black, rgba(43, 40, 40, 0.308));
    box-shadow: 0px 0px 5px rgba(43, 40, 40, 0.308);
    position: sticky;
    top: 0px;
    size: 50px;
}
nav:hover{
    color: rgb(103, 120, 168);
}
nav .container {
    display: flex;
    align-items: center;
}
.logo-name {
    color: rgb(230, 233, 247);
    padding: 0px 20px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight:bolder;
}
.nav-links {
    margin-left: auto;
}
.nav-links ul{
    display: flex;
    list-style: none;
}
.nav-links li{
    padding: 0px 20px;
}
.nav-link {
    color: rgb(240, 242, 252);
    font-size: 32px;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;

}
.nav-link.active,
.nav-link:hover {
  color: rgb(103, 120, 168);
}
.total{
    padding: 5px;
    background-image: linear-gradient(to bottom left, black, rgba(43, 40, 40, 0.308));
    box-shadow: 0px 0px 5px rgba(43, 40, 40, 0.308);
    position: sticky;
    top: 0px;
}
.wish{
    text-align: center;
    font-size:30px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(228, 224, 224);
    border-bottom:3px solid  rgb(156, 1, 1); width:600px;text-align: center; padding-bottom:20px;
    margin-left: 31%;
}
.wish1{
    text-align: center;
    font-size:60px;
    font-style:normal;
    font-family:'Times New Roman', Times, serif;
    color: rgb(228, 224, 224);
    font-weight: bolder;
   
}
.foot{
    background-color: rgba(43, 40, 40, 0.829);
    color: white;
    text-align: center;

}
.foot p{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
   